* {
    text-align: center;
}

.grid {
    display: grid;
    width: 100%;
    height: 800px;
    grid-template-columns:
        [all-start] 1fr [footer-1-end footer-2-start] 0.5fr [main-1-end main-2-start] 0.5fr [footer-2-end footer-3-start] 0.5fr [main-end sidebar-start]0.5fr [footer-3-end footer-4-start] 1fr [all-end];
    grid-template-rows: 2fr 3fr 1fr 1fr 2fr;
}

.header {
    grid-area: 1/all-start/2/all-end;
    background-color: rgb(125, 206, 233);
}

.main {
    display: contents;
}

.main-content {
    grid-area: 2/all-start/3/main-end;
    background-color: rgb(234, 236, 136);
}

.main-content-background {
    grid-area: 3/all-start/5/main-end;
    background-color: rgb(234, 236, 136);
}

.main-1 {
    grid-area: 3/all-start/4/main-1-end;
    background-color: rgb(181, 204, 51);
    margin: 0 5px 5px 10px;
}

.main-2 {
    grid-area: 3/main-2-start/4/main-end;
    background-color: rgb(181, 204, 51);
    margin: 0 10px 5px 5px;
}

.main-3 {
    grid-area: 4/all-start/5/main-end;
    background-color: rgb(181, 204, 51);
    margin: 5px 10px 10px 10px;
}

.side-bar {
    grid-area: 2/sidebar-start/5/all-end;
    background-color: rgb(238, 194, 238);
}

.footer {
    display: contents;
}

.footer-1 {
    grid-area: 5/all-start/6/footer-1-end;
    margin: 10px 5px 10px 10px;
}

.footer-2 {
    grid-area: 5/footer-2-start/6/footer-2-end;
    margin: 10px 5px 10px 5px;
}

.footer-3 {
    grid-area: 5/footer-3-start/6/footer-3-end;
    margin: 10px 5px 10px 5px;
}

.footer-4 {
    grid-area: 5/footer-4-start/6/all-end;
    margin: 10px 10px 10px 5px;
}

[class^="footer-"] {
    z-index: 2;
    background-color: rgb(204, 197, 204);
}

.footer-content-background {
    grid-area: 5/all-start/6/all-end;
    z-index: 1;
    background-color: rgb(163, 165, 165);
}
/*style for the tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px){
    .footer{
        display: none;
    }
}
/*style for the smartphones*/
@media screen and (max-width:767px) {
    .grid {
        display: grid;
        width: 100%;
        height: 800px;
        grid-template-columns:
            [all-start] 1fr 
            /* [footer-1-end footer-2-start] 0.5fr */ 
            [main-1-end main-2-start] 1fr 
           /*  [footer-2-end footer-3-start] 0.5fr 
            [main-end sidebar-start]0.5fr 
            [footer-3-end footer-4-start] 1fr  */
            [all-end];
        grid-template-rows: 2fr 3fr 1fr 1fr 2fr;
    }
    
    .footer,
    .side-bar {
        display: none;
    }

    .main-content {
        grid-area: 2/all-start/3/all-end;
        background-color: rgb(234, 236, 136);
    }
    
    .main-content-background {
        grid-area: 3/all-start/5/all-end;
        background-color: rgb(234, 236, 136);
    }
    
    .main-1 {
        grid-area: 3/all-start/4/main-1-end;
        background-color: rgb(181, 204, 51);
        margin: 0 5px 5px 10px;
    }
    
    .main-2 {
        grid-area: 3/main-2-start/4/all-end;
        background-color: rgb(181, 204, 51);
        margin: 0 10px 5px 5px;
    }
    
    .main-3 {
        grid-area: 4/all-start/5/all-end;
        background-color: rgb(181, 204, 51);
        margin: 5px 10px 10px 10px;
    }
}